{% extends "DuskUserBundle::layout.html.twig" %}
{% block slider %}
{% endblock slider %}

{% block maincontent %}
    <div class="banner contact-banner">
        <div class="container">
            <div class="contactbox">
                <div class="boxleft">
                    <h2>Contact Us</h2>
                    <p>Welcome to Dusk music. For any support, suggestions or to chat business or beats, please write to us using the online form and we will get back to you pronto.<br />
                    <br />
                    Dusk Music<br />
                    Po Box 3066<br />
                    Tamarama<br />
                    New South Wales 2026<br />
                    Australia<br />
                    <br />
                    <a class="emaillink" href="mailto:play@duskmusic.com">play@duskmusic.com</a><br />

                </div>
                <div class="boxright">
                    <h2>Contact Form</h2>
                    
                    <form action="{{ path('dusk_contactus')}}" method="post">
                        <div class="contact-form">
                            <div class="formdiv">
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="flash-notice">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}
                                
                                <ul>
                                    <li>
                                        <p>
                                            <label>{{ form_label(form.enquiry_category) }}</label>
                                            {{ form_widget(form.enquiry_category) }}
                                        </p>
                                        <p>
                                            <label>{{ form_label(form.name) }}</label>
                                            {{ form_widget(form.name) }}
                                        </p>
                                        <p>
                                            <label>{{ form_label(form.email) }}</label>
                                            {{ form_widget(form.email) }}
                                        </p>
                                        <p>
                                            <label>{{ form_label(form.phone) }}</label>
                                            {{ form_widget(form.phone) }}
                                        </p>
                                        <p>
                                            <label>{{ form_label(form.postcode) }}</label>
                                            {{ form_widget(form.postcode) }}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <label>{{ form_label(form.message) }}</label>
                                            {{ form_widget(form.message) }}
                                            {{ form_rest(form) }}
                                        </p>
                                        <p>
                                            <span class="req-text">*Required</span>
                                            <button class="button">Submit</button>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block orangestrip %}
        {{ parent() }}
    {% endblock orangestrip %}

    {% block instantpreview %}
        {{ parent() }}
    {% endblock instantpreview %}

    {% block whoisdusk %}
        {{ parent() }}
    {% endblock %}
{% endblock maincontent %}