<section class="greybg">
    <div class="container">
        <h1 class="title">Instantly Preview our some of our Music Styling</h1>
        <div class="instantly-carousel">
            <ul id="foo2">
                <li><img src="{{ asset('bundles/duskuser/images/restaurant-dining-img.png') }}" width="248" height="213" alt=""><span>Restaurant - Dining</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/shop-till-you-drop-img.png') }}" width="248" height="213" alt=""><span>Shop Till you Drop</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/cafe-breakfast-img.png') }}" width="248" height="213" alt=""><span>Cafe - Breakfast</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/lounge-evening-img.png') }}" width="248" height="213" alt=""><span>Lounge - Evening</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/restaurant-dining-img.png') }}" width="248" height="213" alt=""><span>Restaurant - Dining</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/shop-till-you-drop-img.png') }}" width="248" height="213" alt=""><span>Shop Till you Drop</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/cafe-breakfast-img.png') }}" width="248" height="213" alt=""><span>Cafe - Breakfast</span></li>
                <li><img src="{{ asset('bundles/duskuser/images/lounge-evening-img.png') }}" width="248" height="213" alt=""><span>Lounge - Evening</span></li>
            </ul>
            <div class="clearfix"></div>
            <a id="prev2" class="prev" href="#">&nbsp;</a> <a id="next2" class="next" href="#">&nbsp;</a> </div>
    </div>
</section>
