<section class="oringebg">
    <div class="container">
        <ul class="oringbgul">
            <li>
                <span class="circle"><img src="{{ asset('bundles/duskuser/images/stream-icon.png') }}" width="66" height="66" alt=""></span>
                <h1>Stream 24/7</h1>
                <p>Our playlists stream uninterrupted directly into your venue.</p>
                <a href="{{ path('dusk_music') }}" class="learnmore">Learn More</a>
            </li>
            <li>
                <span class="circle"><img src="{{ asset('bundles/duskuser/images/try-free-icon.png') }}" width="66" height="66" alt=""></span>
                <h1>Try it for Free</h1>
                <p>We know you like free stuff, so click here for your free 2 week trial.</p>
                <a href="{{ path('fos_user_security_login') }}" class="learnmore">Listen Now</a>
            </li>
            <li>
                <span class="circle"><img src="{{ asset('bundles/duskuser/images/multi-rooms-icon.png') }}" width="66" height="66" alt=""></span>
                <h1>Multi-Rooms/Venues</h1>
                <p>Simply add extra rooms to your venue in a few clicks.</p>
                <a href="{{ path('dusk_howitworks') }}" class="learnmore">Learn More</a>
            </li>
        </ul>
    </div>
</section>