<div class="add-title"> <span class="left"><a href="#">&laquo;</a></span> <span class="right"><a href="#">&raquo;</a></span> Add a little more flavour to your room</div>
<div class="whoexactly">
    <ul>
        <li><img src="{{ asset('bundles/duskuser/images/restaurant-dining-img.png') }}" alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/shop-till-you-drop-img.png') }}"  alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/img7.jpg') }}"  alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/lounge-evening-img.png') }}"  alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/img1.jpg') }}"  alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/img8.png') }}" alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/img2.jpg') }}"  alt=""></li>
        <li><img src="{{ asset('bundles/duskuser/images/img9.png') }}" alt=""></li>
    </ul>
</div>