<section class="whitebg">
<section class="bleckbg">
    <div class="container">
        <div class="whoexactly">
            <h1 class="title">Who is DUSK for exactly?</h1>
            <ul>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/restaurants-img.jpg') }}" alt=""><span>Restaurants</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/cafes-img.jpg') }}" alt=""><span>Cafes</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/retail-img.jpg') }}" alt=""><span>Retail</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/cocktail-lounge-img.jpg') }}" alt=""><span>Cocktail Lounge</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/salons-img.jpg') }}" alt=""><span class="btm">Salons</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/day-spas-img.jpg') }}" alt=""><span class="btm">Day Spas</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/yoga-spaces-img.jpg') }}" alt=""><span class="btm">Yoga Spaces</span></a></li>
                <li><a href="{{ path('dusk_pricing') }}"><img src="{{ asset('bundles/duskuser/images/hotel-lobby-img.jpg') }}" alt=""><span class="btm">Hotel Lobby</span></a></li>
            </ul>
        </div>
    </div>
</section>
</section>