<style>
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('{{url}}{{ asset('bundles/duskuser/images/futuran_0-webfont.eot') }}');
    src: url('{{url}}{{ asset('bundles/duskuser/images/futuran_0-webfont.eot?#iefix') }}') format('embedded-opentype'),
         url('{{url}}{{ asset('bundles/duskuser/images/futuran_0-webfont.woff') }}') format('woff'),
         url('{{url}}{{ asset('bundles/duskuser/images/futuran_0-webfont.ttf') }}') format('truetype'),
         url('{{url}}{{ asset('bundles/duskuser/images/futuran_0-webfont.svg#futura_bk_btbook') }}') format('svg');
    font-weight: normal; font-style: normal;}

</style>
<body style="margin:0px auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
<table width="682" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
   <td align="center"><img src="{{url}}{{ asset('bundles/duskuser/images/header-topbg.jpg') }}" alt=""></td>
  </tr>
  <tr class="border">
    <td style="border-left:1px solid #dfe1e1;border-right:1px solid #dfe1e1; text-align:center;"><img src="{{url}}{{ asset('bundles/duskuser/images/dusk-logo.jpg') }}" alt=""></td>
  </tr>
  <tr>
    <td><img src="{{url}}{{ asset('bundles/duskuser/images/header-bottombg.jpg') }}" alt=""></td>
  </tr>
  
  <tr class="border">
    <td align="center" style="border-left:1px solid #dfe1e1;border-right:1px solid #dfe1e1; text-align:center;"><img src="{{url}}{{ asset('bundles/duskuser/images/bespock-img.jpg') }}" alt=""></td>
  </tr>
  <tr class="border">
    <td style="padding:20px 20px 50px 20px; border-left:1px solid #dfe1e1;border-right:1px solid #dfe1e1; text-align:center;">
    <p style="text-align:left;">            
            
        Hello {{ data.name }}<br /><br />

        Your Payment Details:<br />
        Room Name: {{ data.room }}<br />
        Subscription: {{ data.subname }}
        Subscription Price: {{ data.subprice }}<br />
        Subscription Duration: {{ data.submonth }} Month<br />
        Subscription Date: {{ data.subdate | date('d-m-Y') }}<br />


        Regards,<br />
        Dusk Team.
        
    </p></td>
  </tr>
  <tr>
   <td><img src="{{url}}{{ asset('bundles/duskuser/images/footer-topbg.jpg') }}" alt=""></td>
  </tr>
  <tr class="border">
    <td style="border-left:1px solid #dfe1e1;border-right:1px solid #dfe1e1; text-align:center;"><p  style="width:100%; text-align:center; margin:0px;">
                              <a  style="margin-right:10px; display:inline-block;" href="#"><img src="{{url}}{{ asset('bundles/duskuser/images/fb-icon.jpg') }}" alt=""></a>
                              <a style="margin-right:10px; display:inline-block;" href="#"><img src="{{url}}{{ asset('bundles/duskuser/images/twitter-icon.jpg') }}" alt=""></a>
                              <a style="margin-right:10px; display:inline-block;" href="#"><img src="{{url}}{{ asset('bundles/duskuser/images/instagram.jpg') }}" alt=""></a></p>
    <p>
     <ul style="list-style-type:none; margin:0px auto; padding:0px; text-align:center;">
     <li style="display:inline-block; list-style-type:none; margin:0px; padding:0px 10px;"><a href="#" style="color:#000; text-decoration:none; font-family:'futura_bk_btbook'; font-size: 16px;">About</a></li>
     <li style="display:inline-block; list-style-type:none; margin:0px; padding:0px 10px;"><a href="#" style="color:#000; text-decoration:none; font-family:'futura_bk_btbook'; font-size: 16px;">Music</a></li>
     <li style="display:inline-block; list-style-type:none; margin:0px; padding:0px 10px;"><a href="#" style="color:#000; text-decoration:none; font-family:'futura_bk_btbook'; font-size: 16px;">Contact Us</a></li>
     <li style="display:inline-block; list-style-type:none; margin:0px; padding:0px 10px;"><a href="#" style="color:#000; text-decoration:none; font-family:'futura_bk_btbook'; font-size: 16px;">Blog</a></li>
     <li style="display:inline-block; list-style-type:none; margin:0px; padding:0px 10px;"><a href="#" style="color:#000; text-decoration:none; font-family:'futura_bk_btbook'; font-size: 16px;">Member Login</a></li>
    </ul>
    </p>
    </td>
  </tr>
  <tr>
   <td><img src="{{url}}{{ asset('bundles/duskuser/images/footer-bottombg.jpg') }}" alt=""></td>
  </tr>
</table>